@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 34, 34, 34; /* #222222 */
  --background-rgb: 233, 233, 233; /* #E9E9E9 */
  --primary-rgb: 34, 34, 34; /* #222222 */
}

body {
  color: rgb(var(--foreground-rgb));
  background: rgb(var(--background-rgb));
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}